* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #000;
    position: sticky;
    padding: 20px;
    a {
        color: #fff;
        text-decoration: none;
    }
}

main {
    .input {
        display: flex;
        justify-content: center;
        background-color: #fff;
        padding: 20px;
        margin: 100px;
        .box {
            #number {
                padding: 20px;
                border-width: 1px;
            }
        }
        .button {
            margin-left: 20px;
            border-radius: 0px;
            
            #submit {
                padding: 20px;
                background-color: #fff;
                border-width: 1px;
            }

            #submit:hover {
                padding: 20px;
                background-color: #ddd;
                border-width: 1px;
            }
        }
    }

    .display {
        display: flex;
        justify-content: center;
        background-color: #ccc;
        margin: 100px;
        #show {
            display: flex;
            padding: 20px;
            p, b {
                text-align: center;
            }
            hr {
                margin: 1rem 1rem;
            }
        }
    }
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}